





<div class="grid  gap-10 h-screen bg-zinc-900 " [ngClass]="buttonsService.lookTableBooleanAddUsers() ? 'grid-cols-[auto_auto_auto] justify-end': 'grid-cols-3 justify-center' ">
  
  
  <app-css-console class="self-center p-5 place-self-center"></app-css-console>



  <div class=" grid grid-rows-[auto_9fr]  w-fit " [ngClass]="buttonsService.lookTableBooleanAddUsers() ? '': 'justify-self-center justify-center' ">


    <form
      (ngSubmit)="sendData()"
      [formGroup]="datos"
      class="place-content-center    bg-zinc-900p-10 grid   "
    >


    



    @if (!msgDeleteConfirmation()) {
      <h1 class="text-4xl p-3 mt-13 text-white text-center font-bold">Agregar usuarios</h1>
    }
      @if (!service.updateSignalMod()) {
        <div ngClass="" class="bg-mist-900 justify-self-center    border-gray-600 border     w-fit p-4 rounded-2xl h-fit grid  ">
          <!-- CAMPO DE NOMBRE -->

          @if (!buttonsService.msgDeleteConfirmation()) {
            <div class="grid grid-rows-2">
              <input
                formControlName="nombre"
                type="text"
                placeholder="Nombre"
                class="rounded bg-white p-2"
              />

              @if (errors.VerificatedConditions(datos.controls['nombre'])) {
                <span class="text-white">
                  {{ errors.errorsMessage(datos.controls['nombre']) }}
                </span>
              }
            </div>
            <!-- FIN -->

            <!-- CAMPO APELLIDO -->
            <div class="grid grid-rows-2">
              <input
                formControlName="apellido"
                type="text"
                placeholder="Apellido"
                class="bg-white p-2 rounded"
              />

              @if (errors.VerificatedConditions(datos.controls['apellido'])) {
                <span class="text-white">
                  {{ errors.errorsMessage(datos.controls['apellido']) }}
                </span>
              }
            </div>
            <!-- FIN -->

            <!-- CAMPO DE EDAD -->
            <div class="grid grid-rows-2">
              <input
                formControlName="edad"
                type="number"
                placeholder="Edad"
                class="bg-white p-2 rounded"
              />

              @if (errors.VerificatedConditions(datos.controls['edad'])) {
                <span class="text-white">
                  {{ errors.errorsMessage(datos.controls['edad']) }}
                </span>
              }
            </div>
            <!-- FIN -->

            <!-- NUMERO TEL -->
            <div class="grid grid-rows-2">
              <input
                formControlName="numero"
                type="text"
                placeholder="Numero"
                class="rounded bg-white p-2"
              />

              @if (errors.VerificatedConditions(datos.controls['numero'])) {
                <span class="text-white">
                  {{ errors.errorsMessage(datos.controls['numero']) }}
                </span>
              }
            </div>
          }

          <!-- FIN -->

          <!-- CONTENEDOR DE BOTTONES PRINCIPALES -->


          <app-bottons-main class=""  [lookTableBoo]="lookTableBoolean()"  />
          <!--  -->
        </div>
      }
    </form>
                <h2 class= " grid place-content-center bottom-0 text-white">{{dataWit()}}</h2>

  </div>



  @if (lookTableBoolean()) { 

            <app-table-users class = "p-4  " [lookTableBoolean]="lookTableBoolean()" />


          }




</div>


 