<div
  class="grid h-screen bg-zinc-900 grid-cols-[1fr_auto] gap-12"
  [ngClass]="buttonsService.lookTableBooleanAddUsers() ? 'grid-cols-[1fr_auto]' : 'grid-cols-1'"
>
  <div
    class="grid grid-rows-[auto_2fr]"
    [ngClass]="
      buttonsService.lookTableBooleanModUsers() ? 'justify-self-end ' : 'justify-self-center '
    "
  >
    <form (ngSubmit)="sendData()" [formGroup]="datos" class="grid">
      <h1 class="text-4xl mt-13 p-2 text-center font-bold text-white">Modificar usuarios</h1>

      <div class="bg-mist-900 border border-green-700 rounded-2xl w-fit p-4 justify-self-start h-fit grid justify-center">
        <!-- ID INPUT-->
        <div>
          <div class="grid grid-rows-2">
            <input
              formControlName="id"
              type="number"
              placeholder="id"
              class="bg-white p-2 rounded-2xl"
            />

            @if (errors.VerificatedConditions(datos.controls['edad'])) {
              <span class="text-white">
                {{ errors.errorsMessage(datos.controls['edad']) }}
              </span>
            }
          </div>

          <!-- FIN  -->

          <!-- CAMPO DE NOMBRE -->
          <div class="grid grid-rows-2">
            <input
              formControlName="nombre"
              type="text"
              placeholder="Nombre"
              class="rounded-2xl bg-white p-2"
            />

            @if (errors.VerificatedConditions(datos.controls['nombre'])) {
              <span class="text-white">
                {{ errors.errorsMessage(datos.controls['nombre']) }}
              </span>
            }
          </div>
          <!-- FIN -->

          <!-- CAMPO APELLIDO -->
          <div class="grid grid-rows-2">
            <input
              formControlName="apellido"
              type="text"
              placeholder="Apellido"
              class="bg-white p-2 rounded-2xl"
            />

            @if (errors.VerificatedConditions(datos.controls['apellido'])) {
              <span class="text-white">
                {{ errors.errorsMessage(datos.controls['apellido']) }}
              </span>
            }
          </div>
          <!-- FIN -->

          <!-- CAMPO DE EDAD -->
          <div class="grid grid-rows-2">
            <input
              formControlName="edad"
              type="number"
              placeholder="Edad"
              class="bg-white p-2 rounded-2xl"
            />
          </div>
          <!-- FIN -->

          <!-- NUMERO TEL -->
          <div class="grid grid-rows-2">
            <input
              formControlName="numero"
              type="text"
              placeholder="Numero"
              class="rounded-2xl bg-white p-2"
            />
          </div>



          @if (condition()) {
          @if (
             usersDataMapping().edad !== undefined ||
            usersDataMapping().numero !== undefined ||
            usersDataMapping().nombre !== undefined ||
            usersDataMapping().apellido !== undefined||
            usersDataMapping().Error !== undefined
          )
          
          
          {
            <p
              class="text-center p-2 place-content-center bg-blue-500 text-red-700 grid m-2 rounded font-bold text-1xl"
            >
              @if (usersDataMapping().nombre !== undefined) {
                {{ usersDataMapping().nombre }} <br />
              }

              @if (usersDataMapping().apellido !== undefined) {
                {{ usersDataMapping().apellido }} <br />
              }

              @if (
                usersDataMapping().Error !== undefined               ) {
                {{ usersDataMapping().Error }} <br />
              }

              @if (usersDataMapping().edad !== undefined) {
                {{ usersDataMapping().edad }} <br />
              }

              @if (usersDataMapping().id !== undefined) {
                {{ usersDataMapping().id }} <br />
              }

              @if (usersDataMapping().numero !== undefined) {
                {{ usersDataMapping().numero }} <br />
              }
            </p>
          }
        }

        
        </div>

        <!-- FIN -->

        <!-- CONTENEDOR DE BOTTONES PRINCIPALES -->

        <div class="grid grid-rows-2 gap-y-2">
          <app-buttons-look-disguise
            [lookTableBoolean]="lookTableBooleanModUsers"
          ></app-buttons-look-disguise>

          <button type="submit" class="p-3 bg-green-400 hover:opacity-50 transition">Guardar cambio</button>
        </div>
        <!--  -->
      </div>
    </form>
  </div>

  <div class="mr-3 p-4">
    <app-table-users [lookTableBoolean]="lookTableBooleanModUsers" />
  </div>
</div>
